.wrapper {
  margin: 15px 0;

  .content {
    border: solid 1px;

    .listItem~.listItem {
      border-top: 1px solid #bbb;
    }

    .listItem:hover {
      background-color: #eee;
      cursor: pointer;
    }

    .vacant {
      text-align: center;
      height: 50px;
      line-height: 50px;
      color: #aaa;
    }
  }

  .listItem {
    display: flex;
    padding: 10px;

    .ItemName {
      // width: 55%;
      width: 40%;
      // flex-grow: 1;
      display: flex;

      span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    .price {
      min-width: 20%;
      text-align: center;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}